body{
/* Background pattern from Toptal Subtle Patterns */
	background-image:url("images/background.png");
	font-family: 'Libre Baskerville', serif;
	margin:0;
	padding:0;
}
#mainInfo{
	top:0;
	left:0;
	background-color:#d5bce5;
	min-height:390px;
	padding-top:5px;
	text-align:center;
	color:black;
}
main{
	padding:30px;
    padding-bottom: 10px;
	display:grid;
	grid-template-columns:3fr 1fr;
	grid-gap:30px;	
}

#slider img{
	width:100%;
}
#description{
	grid-column: 1 / span 2;
	box-sizing:border-box;
	margin:0;
	text-align:center;
	letter-spacing:2px;
	line-height:25px;
	padding-bottom:30px;
}
#offer{
	padding:0;
	position:relative;
	grid-column:1;
	
}
#offer ul{
	margin-top:0;
	margin-bottom:30px;
	padding-top:10px;
	text-indent:40px;
	padding-left:0;
	list-style-type:none;
	font-size:28px;
	background-color:white;
	border:0px;
	border-radius:20px;
    position: relative;
	
	}
h3{
    margin-top:16px;
    margin-bottom: 20px;
}

#offer>ul>li:hover{
	background-color:#f7dcf6;
}
#offer>ul>li{
	border-top:1px dashed #f7dcf6;
	font-size:15px;
	min-height:80px;
	position:relative;
	}


.item img{
	padding-top:10px;
	height:60px;
	padding-left:40px;
	display:block;
	float:left;
	
	}

.fragrance{
    font-weight:bold;
    display:block;
	left:0;
    letter-spacing:1px;
    line-height:30px;
    padding-top:10px;
	}

.description{
	display:block;
	left:0;
    padding-left:60px;
    padding-top:3px;
    font-size:15px;
}

input{
    width: 50px;
	height:30px;

    margin: 0px;
    box-sizing: border-box;
	vertical-align:middle;
	margin:3px;
}

button{
	margin:auto;
	width: 40px;
	height:31px;
}
.howMuch{
	line-height:30px;
	text-indent:0;
	text-align:center;
	font-weight:bold;
	box-sizing:border-box;
	float:left;
	border:none;
	position:absolute;
	width:150px;
	height:100%;
	top:0;
	right:0;
	
    padding-top:5px;
	margin:0;
	
}
aside{
    position:sticky;
    top:15px;
	display:block;
	height:220px;
	grid-column:2;
	background-color:white;
	border-radius:20px;
    
}

.bttns{
    position:absolute;
    right:25px;
    top:20px;
    
}

.promo{
    position:absolute;
    color:red;
    font-size:11px;
    right:10px;
    top:36px;
}

#lgSum{
	box-sizing: border-box;
	text-align:right;
	padding:15px;
    margin-right:10px;
	text-indent:0;
	font-size:18px;
	position:absolute;
	border-top:1px solid #f7dcf6;
	background-color:white;
	position:relative;
	min-height:20px;
	vertical-align:middle;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
}


#sphSum{
	box-sizing: border-box;
	text-align:right;
	padding:15px;
    margin-right:10px;
	text-indent:0;
	font-size:18px;
	position:absolute;
	border-top:1px solid #f7dcf6;
	background-color:white;
	position:relative;
	min-height:20px;
	vertical-align:middle;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
}

#votSum{
	box-sizing: border-box;
	text-align:right;
	padding:15px;
    margin-right:10px;
	text-indent:0;
	font-size:18px;
	position:absolute;
	border-top:1px solid #f7dcf6;
	background-color:white;
	position:relative;
	min-height:20px;
	vertical-align:middle;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
}
footer{
    
	padding-top:17px;
	padding-bottom:14px;
	width:100%;
	bottom:0;
	left:0;
	display:block;
	background-color:#d5bce5;	
	text-align:center;
	font-weight:600;
	}

#totalSum{
    position:relative;
    line-height:60px;
    padding-left:60px;
    text-align:center;
    font-size:25px;
    letter-spacing:2px;
    font-weight:800;
}
#orderTotal{
    position:relative;
    line-height:60px;
    padding-left:20px;
    font-size:20px;
    letter-spacing:2px;
}

#orderTotal:before {
    content: "";
    position: absolute;
    right: 10px;
    top:5px;
    height: 1px;
    width: 280px;  
    border-bottom:1px solid gray;
}


.totals{
    padding-left:20px;
    line-height:30px;
}

#totallargeJars{
    position:absolute;
    right:30px;
}

#totalspheres{
    position:absolute;
    right:30px;
}

#totalvotives{
    position:absolute;
    right:30px;
}

#totalVot:after{
    border-bottom:2px solid black;
}
#val{
    position:absolute;
    right:28px;
}

.priceRight{
    display:inline-block;
    position:absolute;
    right:40px;
    top:30px;
    font-size:24px;
}

.dealInfo{
   
    font-size:12px;
    position:absolute;
    right:20px;
    top:70px;
}
